{% extends 'base.html' %}

{% block title %}Log In{% endblock title %}

{% block content %}
<br><br> <br> 
<h2>Ingresar</h2>
<div class="container">
    <div class="row">
        <div class="col-6 offset-3">
            <form method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="fieldWrapper">
                    {{ form.username.errors }}
                    <label for="{{ form.username.id_for_label }}">Usuario:</label>
                    <input type="input" class="form-control" name="username" placeholder="Usuario" required >
                </div>
                <div class="fieldWrapper">
                    {{ form.password.errors }}
                    <label for="{{ form.password.id_for_label }}">Contraseña:</label>
                    <input type="password" id="input-password" class="form-control" name="password"  placeholder="Contraseña" required>
                </div>
                <div class="fieldWrapper">
                    <label >Mostrar contraseña:</label>
                    <input type="checkbox" id="show-pass">
                </div>
                <button class="btn btn-success ml-2 mt-3" type="submit">Ingresar</button>
            </form>
        </div>
    </div>
    
    <script>

        $('#show-pass').click( e => {
            let checked = $('#show-pass').is(':checked')

            if(checked){
                $('#input-password').attr("type", "text")
            }else{
                $('#input-password').attr("type", "password")
            }
        })
    </script>
</div>

{% endblock content %}