{% extends '../index.html' %}

{% load static %}

{% block main_content %}
    <section class="content">
        <div class="row">
            <div class="col-sm-12">
                <h4>Detalles del Aspirante | 16PF</h4>
            </div>
        </div>

        <div class="row bg-light mt-3 m-0 p-3 border rounded">
            <div class="col-md-6">
                <p><b>Nombre del Aspirante: </b> Roberto Perez</p>
                <p><b>Sexo: </b> Masculino</p>
                <p><b>Edad: </b> 27 años</p>
                
            </div>
            <div class="col-md-6">
                <p><b>Fecha: </b> 17/09/2019</p>
                <p><b>Nombre del Evaluador(a): </b> Maria Gonzales</p>
                <p><b>Tiempo: </b> 43 min.</p>
            </div>
        </div>
        
        <div class="row mt-4">
            <div class="col-sm-12">
                <table class="table table-bordered">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">1</th>
                            <th scope="col">2</th>
                            <th scope="col">3</th>
                            <th scope="col">4</th>
                            <th scope="col">5</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Esquizotimia</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Ciclotimia</td>
                        </tr> 
                        <tr>
                            <td>Inteligencia alta</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Inteligencia baja</td>
                        </tr>
                        <tr>
                            <td>Fortaleza del Yo</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Debilidad del Yo</td>
                        </tr> 
                        <tr>
                            <td>Dominancia</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Sumisión</td>
                        </tr>
                        <tr>
                            <td>Surgencia</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Desurgencia</td>
                        </tr>
                        <tr>
                            <td>Superego fuerte</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Superego débil</td>
                        </tr>  
                        <tr>
                            <td>Parmia</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Trectia</td>
                        </tr>
                        <tr>
                            <td>Premsia</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Harria</td>
                        </tr>
                        <tr>
                            <td>Alexia</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Protensión</td>
                        </tr>  
                        <tr>
                            <td>Praxemia</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Autia</td>
                        </tr>
                        <tr>
                            <td>Sutileza</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Ingenuidad</td>
                        </tr>  
                        <tr>
                            <td>Conciencia</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Imperturbabilidad</td>
                        </tr>
                        <tr>
                            <td>Radicalismo</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Conservadurismo</td>
                        </tr>    
                        <tr>
                            <td>Autosuficiencia</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Dependencia</td>
                        </tr>
                        <tr>
                            <td>Autoestima</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Indiferencia</td>
                        </tr>   
                        <tr>
                            <td>Tensión</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Tranquilidad</td>
                        </tr>          
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row mt-3 mb-5">
            
            <div class="col-sm-2">
                <button class="btn btn-info">Descargar PDF</button>
            </div>
        </div>

    </section>

{% endblock main_content %}