.link{
    text-decoration: none;
    color: #212529;
}

.link:hover{
    text-decoration: none;
}

.content{
    padding-top: 6vw;
    padding-left: 10vw;
    width: 91vw;
}

.custom-text-input{
    border: 0;
    background-color: #f8f9fa;
    border-bottom: 1px solid #212529;
    width: 50%;
}