{% extends '../index.html' %}

{% load static %}

{% block main_content %}
    <section class="content2">
        <h2>Bienvenido {{ user.get_full_name }}!</h2>
        <h5>Intrucciones:</h5>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum, ipsam sed dolores enim itaque eligendi, consequuntur deserunt delectus quae reprehenderit velit quo numquam blanditiis dolorem asperiores? Doloribus, quis fuga. Perferendis? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum, ipsam sed dolores enim itaque eligendi, consequuntur deserunt delectus quae reprehenderit velit quo numquam blanditiis dolorem asperiores? Doloribus, quis fuga. Perferendis? 
        </p>
        <a class="btn btn-info" href="/dash/aspirante/16pf">Empezar</a>
    </section>
   
{% endblock %}