{% extends './index.html' %}

{% load static %}

{% block main_content %}
    <section class="content">
        <div class="row">
            <div class="col-sm-12">
                <h3>Configurar 16PF</h3>
            </div>
        </div>
        <div class="row bg-light mt-3 p-3 border rounded">
            <div class="col-md-12">
                <p><b>Duración del test</b></p>
            </div>
            <div class="col-md-4">
                <label for="">Minutos</label>
                <input type="time" placeholder="minutos" class="form-control" min="00:00" max="00:59" required>
            </div>
            <div class="col-md-4">
                <label for="">¿Mostrar duración al aspirante?</label>
                <div>
                    <input type="radio" value="Si" name="show" id="showYes">
                    <label for="showYes" class="mr-2">Si</label>
                    <input type="radio" value="No" name="show" id="showNo">
                    <label for="showNo" class="mr-2">No</label>
                </div>
               
            </div>
            <div class="col-md-4 p-0">
                <button class="btn btn-success mt-4">Guardar</button>
            </div>
        </div>
        
        <div class="row mt-4">
            <div class="col-md-12">
                <table cellpadding="0" cellspacing="0" border="0" class="dataTable table table-striped" id="16pf">
            </div>
                
        </div>

        <!-- <div class="row bg-light mt-3 p-3 border rounded">
            <div class="col-md-7">
                <input type="text" placeholder="Pregunta" class="form-control">
            </div>
            <div class="col-md-4">
                <select name="" id="" class="form-control">
                    <option value="A">A Afabilidad</option>
                    <option value="B">B Razonamiento</option>
                    <option value="C">C Estabilidad</option>
                    <option value="E">E Dominancia</option>
                    <option value="F">F Animación</option>
                    <option value="G">G Atención normas</option>
                    <option value="H">H Atrevimiento</option>
                    <option value="I">I Sensibilidad</option>
                    <option value="L">L Vigilancia</option>
                    <option value="M">M Abstracción</option>
                    <option value="N">N Privacidad</option>
                    <option value="O">O Aprensión</option>
                    <option value="Q1">Q1 Apertura cambio</option>
                    <option value="Q2"">Q2 Autosuficiencia</option>
                    <option value="Q3">Q3 Perfeccionismo</option>
                    <option value="Q4">Q4 Tensión</option>
                </select>
            </div>
            <div class="col-md-1 p-0">
                <button class="btn btn-success">Agregar</button>
            </div>
        </div> -->
    </section>

    <script src="{% static 'js/16pf.js' %}" ></script>
   
{% endblock %}