{% block add_evaluator %}

    <div class="modal fade" id="agregarModal" tabindex="-1" role="dialog" aria-labelledby="agregarEvaluador" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="agregarEvaluador">Agregar Aspirante</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="" class="form" id="addApplicant">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col">
                                <input type="text" id="firstName" class="form-control" placeholder="Nombre" required>
                            </div>
                            <div class="col">
                                <input type="text" id="lastName" class="form-control" placeholder="Apellido" required>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col">
                                <input type="number" id="id" class="form-control" placeholder="Cédula" required>
                            </div>
                        </div>
                        
                        <div class="row mt-2">
                            <div class="col">
                                <input type="email" id="email" class="form-control" placeholder="Correo" required>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button id="addEvaluator" type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
                
            </div>
        </div>
    </div>

    <script>

        $('#addApplicant').submit(e => {
            e.preventDefault()

            let data = new FormData()

            data.append('first_name', $("#firstName").val())
            data.append('last_name', $("#lastName").val())
            data.append('id', $("#id").val())
            data.append('email', $("#email").val())

            fetch('/admin/add_applicant', {
                method: 'POST', // or 'PUT'
                body: data, // data can be `string` or {object}!
            }).then(res => res.json())
              .catch(error => console.error('Error:', error))
              .then(response => {
                if(response.length >= 1){
                    location.replace('/dash/aspirantes')
                }
              });
        })
    </script>

{% endblock %}