{% block add_evaluator %}

    <div class="modal fade" id="agregarModal" tabindex="-1" role="dialog" aria-labelledby="agregarEvaluador" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="agregarEvaluador">Agregar Evaluador</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="" class="form" id="addEvaluator">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col">
                                <input type="text" id="firstName" class="form-control" placeholder="Nombre" required>
                            </div>
                            <div class="col">
                                <input type="text" id="lastName" class="form-control" placeholder="Apellido" required>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-3">
                                <select name="" id="" class="custom-select">
                                    <option value="V" selected>V</option>
                                    <option value="E">E</option>
                                    <option value="P">P</option>
                                </select>
                            </div>
                            <div class="col-9">
                                <input type="text" id="id" class="form-control" placeholder="ID - Solo números" pattern="[0-9]+" required>
                            </div>
                        </div>
                        
                        <div class="row mt-2">
                            <div class="col">
                                <input type="email" id="email" class="form-control" placeholder="Correo" pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$" required>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col" id="show-error">

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button id="addEvaluator" type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
                
            </div>
        </div>
    </div>

    <script>

        $('#addEvaluator').submit(e => {
            e.preventDefault()

            let data = new FormData()

            data.append('first_name', $("#firstName").val())
            data.append('last_name', $("#lastName").val())
            data.append('id', $("#id").val())
            data.append('email', $("#email").val())
            data.append('gender', null)
            data.append('date_born', '2019-10-16')

            fetch('/admin/add_evaluator', {
                method: 'POST', // or 'PUT'
                body: data, // data can be `string` or {object}!
            }).then(res => res.json())
              .catch(error => console.error('Error:', error))
              .then(response => {
                console.log(response)
                if(response.length >= 1){
                    location.replace('/dash/evaluadores')
                }else if(response.message){
                    
                    $('#show-error').html(`
                        <div class="alert alert-danger mt-2" role="alert">
                            Ya existe un usuario con ID ${$("#id").val()}
                        </div>
                    `)
                }
              });
        })
    </script>

{% endblock %}