{% extends './index.html' %}

{% block main_content %}
    <section class="content">
        <div class="row">
            <div class="col-sm-12">
                <h3>Aspirantes</h3>
            </div>
        </div>
        <div class="row mb-4 mt-2">
            <div class="col-sm-12">
                <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#agregarModal">Agregar</button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellido</th>
                            <th scope="col">Cédula</th>
                            <th scope="col">Correo</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for applicant in applicants %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ applicant.first_name }}</td>
                                <td>{{ applicant.last_name }}</td>
                                <td>{{ applicant.username }}</td>
                                <td>{{ applicant.email }}</td>
                                <td>
                                    <button type="button" user-id="{{applicant.id}}" class="btn btn-primary btn-sm btn-edit" data-toggle="modal" data-target="#editarModal" ><i user-id="{{applicant.id}}" class="fas fa-pencil-alt"></i></button>
                                    <button type="button" user-id="{{applicant.id}}" class="btn btn-danger btn-sm btn-delete"><i user-id="{{applicant.id}}" class="fas fa-trash-alt"></i></button>
                                </td>
                            </tr>
                        {% endfor %}
                        
                    </tbody>
                </table>

                <div class="modal fade" id="editarModal" tabindex="-1" role="dialog" aria-labelledby="editarAspirante" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="editarAspirante">Editar Evaluador</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form action="" class="form" id="editApplicant">
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col">
                                            <input type="text" id="edit-firstName" class="form-control" placeholder="Nombre" required>
                                        </div>
                                        <div class="col">
                                            <input type="text" id="edit-lastName" class="form-control" placeholder="Apellido" required>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col">
                                            <label for="">Fecha de Nacimiento</label>
                                            <input type="date" id="edit-date_born" class="form-control" placeholder="Fecha de nacimiento" required>
                                        </div>
                                        <div class="col">
                                            <label for="">Sexo</label>
                                            <select name="" id="edit-gender" class="form-control">
                                                <option value="femenino">Femenino</option>
                                                <option value="masculino">Masculino</option>
                                                <option value="otro">Otro</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col-2">
                                            <select name="" id="" class="custom-select" disabled>
                                                <option value="V" selected>V</option>
                                                <option value="E">E</option>
                                                <option value="P">P</option>
                                            </select>
                                        </div>
                                        <div class="col-10">
                                            <input type="number" id="edit-username" class="form-control" pattern="[0-9]+" placeholder="ID" required disabled>
                                        </div>
                                    </div>
                                    
                                    <div class="row mt-2">
                                        <div class="col">
                                            <input type="email" id="edit-email" class="form-control" pattern="^[a-z0-9A-Z_.+-]+@[a-z0-9A-Z-]+\.[a-z0-9A-Z-.]+$" placeholder="Correo" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                    <button type="submit" class="btn btn-primary">Guardar</button>
                                </div>
                            </form>
                            
                        </div>
                    </div>
                </div>

                <script>
                    $('.btn-edit').click( e => {
                        let id = e.target.getAttribute('user-id')
                        localStorage.setItem('currentId', null)

                        fetch(`/admin/user/${id}`)
                            .then(res => res.json())
                            .catch(error => console.error('Error:', error))
                            .then(response => {
                                //console.log('Success:', response)
                                localStorage.setItem('currentId', response.id)
                                const { first_name, last_name, email, username, date_born, gender} = response
                                $('#edit-firstName').val(first_name)
                                $('#edit-lastName').val(last_name)
                                $('#edit-email').val(email)
                                $('#edit-username').val(username)
                                $('#edit-gender').val(gender)
                                $('#edit-date_born').val(date_born)
                            });
                    })

                    $('.btn-delete').click( e => {
                        let id = e.target.getAttribute('user-id')

                        fetch(`/admin/delete_user/${id}`)
                            .then(res => res.json())
                            .catch(error => console.error('Error:', error))
                            .then(response => {
                                location.replace('/dash/aspirantes')
                            });
                    })

                    $('#editApplicant').submit( async e => {
                        e.preventDefault()
                        let data = new FormData()
                        let id = localStorage.getItem('currentId')

                        data.append('id', id)
                        data.append('first_name', $("#edit-firstName").val())
                        data.append('last_name', $("#edit-lastName").val())
                        data.append('username', $("#edit-username").val())
                        data.append('email', $("#edit-email").val())
                        data.append('date_born', $("#edit-date_born").val())
                        data.append('gender', $("#edit-gender").val())

                        fetch('/admin/update_user', {
                            method: 'POST', // or 'PUT'
                            body: data, // data can be `string` or {object}!
                        })
                            .then(res => res.json())
                            .catch(error => console.error('Error:', error))
                            .then(response => {
                                if(response.length >= 1){
                                    location.replace('/dash/aspirantes')
                                }
                            });
                    })
                </script>

                {% block add_evaluator%}
                    {% include './addApplicantModal.html' %}
                {% endblock%}
            </div>
        </div>
        
    </section>
{% endblock %}