{% extends './index.html' %}

{% load static %}

{% block main_content %}
    <section class="content">
      <form method="post">
      {% csrf_token %}
      {{ form }}
      <button type="submit" class="btn btn-success ml-2 mt-3"  href="{% url 'change_password' %}">Guardar cambios</button>
    </form>
    <script src="{% static 'js/16pf.js' %}" ></script>
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
{% endblock %}
