{% extends './index.html' %}

{% load static %}

{% block main_content %}
    <section class="content">
        <div class="row">
            <div class="col-sm-12">
                <h3>Actualizar Contraseña</h3>
            </div>
        </div>
        <div class="col-md-4">
            <label for="">Contraseña Actual</label>
            <input type="string" class="form-control">
        </div>
        <div class="col-md-4">
            <label for="">Nueva contraseña</label>
            <input type="string" class="form-control">
        </div>
        <div class="col-md-4">
            <label for="">Confirma nueva contraseña</label>
            <input type="string" class="form-control">
        </div>
        <div class="col-md-4 p-0">
            <button class="btn btn-success mt-4">Guardar</button>
        </div>
    </section>

    <script src="{% static 'js/16pf.js' %}" ></script>

{% endblock %}
