{% extends 'base.html' %}

{% block content %}

    {% if user.is_authenticated %}
       
        {% block sidebar %}
            {% include './sidebar.html' %}
        {% endblock %}

        {% block main_content %}

            <script>
                if("{{ user.get_updated_password }}" !== "True"){
                    location.replace("/dash/config")
                }
            </script>

            <section class="content">
                <h1>Bienvenido {{ user.get_full_name }}!</h1>
            </section>

        {% endblock %}
          
    {% else %}
        <script>
            location.replace("/")
        </script>
    {% endif %}
{% endblock content %}