{% block sidebar %}

  {% if user.get_role == '0' %}
    <div class="sidebar">
      <ul>
        <a href="/dash/evaluadores" class="link">
          <li>Evaluadores</li>
        </a>
        
        <a href="/dash/aspirantes" class="link">
          <li>Aspirantes</li>
        </a>
  
        <a href="/dash/16pf" class="link">
          <li>16PF</li>
        </a>
  
        <a href="/dash" class="link">
          <li>Wartegg</li>
        </a>
  
      </ul>
    </div>  
  {% elif user.get_role == '1' %}
    <div class="sidebar">
      <ul>
      
        <a href="/dash" class="link">
          <li>Aspirantes - 16PF</li>
        </a>
  
        <a href="/dash" class="link">
          <li>Aspirantes - Wartegg</li>
        </a>
  
      </ul>
    </div>  
  {% endif %}

{% endblock %}